*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  margin:0;
  padding: 0;
}

.top{
  text-align: center;
  background-color: black;
}

.top .logo{
  text-align: center; 
}

.top #search{
  text-align: center;
  border-radius: 10px;
  padding-inline-end: 30px;
  padding-inline-start: 30px;
}

.s-box .s-icon{
  width: 20px;
  position: absolute;
  margin: 5px 4px 4px 4px;

}

.top ul{
  list-style: none;
  display: inline-flex;
  padding: 0;
  margin-top: 8px;
}

.top ul li{
  margin: 0 5px;
  color: white;
}

.top ul li a{
  text-decoration: none;
  color: white;
}
.name_bar ul{
  list-style: none;
  /* background-color: whitesmoke; */
  text-align: center;
  padding: 0px;
  margin: 0;

}
.name_bar ul li{
  line-height: 50px;
  display: inline-block;
  margin-top: 4px;
  padding: 0;
}
.name_bar a{
  text-decoration: none;
  display: block;
  padding: 0px;
  border-bottom: none;
  transition: .4s;
  color: black;
}
.name_bar a:hover{
  background-color: gainsboro;
}
.name_bar li li{
  font-size: .7em;
}
.name_bar li ul{
  position: absolute;
  display: none;
  width: inherit;
}
.name_bar li:hover ul{
  display: block;
}
.name_bar>ul>li{
  text-align: center;
}
.name_bar>ul>li>a{
  padding: 0;
}
.name_bar li ul li{
  display: block;
}
/* ______________ */
.top_bar ul{
  list-style: none;
  background-color: whitesmoke;
  text-align: center;
  padding: 0;
  margin: 0px;
}
.top_bar li{
  width: 130px;
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.2em;
  display:block;
  margin: auto;
}
.top_bar a{
  text-decoration: none;
  display: block;
  padding: 0px;
  border-bottom: none;
  transition: .4s;
  color: black;
}
.top_bar a:hover{
  background-color: gainsboro;  
}
.top_bar li li{
  font-size: .7em;
}
.top_bar li ul{
  position: absolute;
  display: none;
  width: inherit;
}
.top_bar li:hover ul{
  display: block;
}
.top_bar>ul>li{
  text-align: center;
}
.top_bar>ul>li>a{
  padding: 0;
}
.top_bar li ul li{
  display: block;
}

.produce{
  text-align: center;
  background-color: #fff;
  display: flex;
}
.produce li{
  border-bottom: none;
  display: inline-block;
}
.a_produce{
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  padding-right: 30px;
}
.a_produce>.info{
  width: 175px;
  background: wheat;
  margin: auto;
  padding: 10px;
  border-radius: 30px;
  margin-top: 10px;
}
.a_produce>.name{
  font-size: 1.2em;
}
.a_produce>.price{
  font-size: 1.2em;
  color: red;
  font-weight: bold;
}
.a_produce div a{
  color: #fff;
}
.a_tool{
  font-size: 30px;
}



@media screen and (min-width:740px) {
.top{
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: black;
}

.top #search{
  width: 300px;
  height: 42px;
  margin-top: 30px;
  border-radius: 15px;
}

.s-box .s-icon{
  width: 24px;
  opacity: .9;
  position: absolute;
  top: 33px;
  margin-left: 5px;
}

.top ul{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20;
  margin-right: 20px;
  padding-right: 20px;
}

.top_bar ul{
  list-style: none;
  background-color: whitesmoke;
  text-align: center;
  padding: 0;
}
.top_bar li{
  width: 130px;
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.2em;
  display: inline-block;
  margin: auto;
}
.top_bar a{
  text-decoration: none;
  display: block;
  padding: 0px;
  border-bottom: none;
  transition: .4s;
  color: black;
}
.top_bar a:hover{
  background-color: gainsboro;
}
.top_bar li li{
  font-size: .7em;
}
.top_bar li ul{
  position: absolute;
  display: none;
  width: inherit;
}
.top_bar li:hover ul{
  display: block;
}
.top_bar>ul>li{
  text-align: center;
}
.top_bar>ul>li>a{
  padding: 0;
}
.top_bar li ul li{
  display: block;
}


}

@media screen and (min-width:1280px) {

.top{
display: flex;
justify-content: space-between;
background-color: black;
}

.top .logo{
margin-left: 30px;
}

.top #search{
height: 42px;
margin-top: 30px;
padding-right: 0px;
border-radius: 15px;
font-size: 14px;
padding-inline-start: 30px;
padding-inline-end: 10px;
margin-right: 40px;

}

.s-box .s-icon{
width: 24px;
opacity: .9;
position: absolute;
top: 35px;
margin-left: 10px;
border-right: 0.3px solid gray;
padding-right: 2px;

}

.top ul{
display: flex;
justify-content: center;
align-items: center;
font-size: 20;
margin-right: 20px;
padding-right: 20px;
}

.top ul li{
display: block;
list-style-type: none;
margin-right:10px ;
padding-right: 20px;
font-size: 20px;
color: white;
text-align: center;
}

.top ul li a{
text-decoration: none;
color: white;
}

.top ul li a i{
color: white;
}

.top ul li .a_tool{
margin: 0 10px;
}

.top_bar ul{
  list-style: none;
  background-color: whitesmoke;
  text-align: center;
  padding: 0;
  margin: 0px;
}
.top_bar li{
  width: 130px;
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.2em;
  display: inline-block;
  /* margin-right: 60px; */
}
.top_bar a{
  text-decoration: none;
  display: block;
  padding: 0px;
  border-bottom: none;
  transition: .4s;
  color: black;
}
.top_bar a:hover{
  background-color: gainsboro;
}
.top_bar li li{
  font-size: .7em;
}
.top_bar li ul{
  position: absolute;
  display: none;
  width: inherit;
}
.top_bar li:hover ul{
  display: block;
}
.top_bar>ul>li{
  text-align: center;
}
.top_bar>ul>li>a{
  padding: 0;
}
.top_bar li ul li{
  display: block;
}

}